@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    107.41deg,
    #e1e8ff 0%,
    rgba(185, 185, 185, 0) 99.03%
  );
}

:root {
  --image-logo: url("../images/geo.svg");
  --image-add: url("../images/add.svg");
  --image-find: url("../images/find.svg");
  --image-card: url("../images/card.jpg");
  --image-update: url("../images/update.svg");
  --image-delete: url("../images/delete.svg");
}
