.card {
  @apply ml-12;
}

.card_inner {
  @apply h-max h-[200px] rounded-xl  bg-white  p-3 shadow-lg;
}

.card + .card {
  @apply my-4;
}

.top {
  @apply mb-2  rounded-xl;

  img {
    @apply mx-auto h-24  w-36;
  }
}

.bot {
  @apply flex  justify-between;
}

.right {
  @apply flex  flex-col items-end justify-end pt-3;
}

.title {
  @apply w-[200px] cursor-pointer  overflow-hidden text-ellipsis  whitespace-nowrap font-mono text-lg  font-bold;
  // overflow-hidden text-ellipsis  hover:whitespace-normal whitespace-nowrap
}

.desc {
  @apply font-mono text-sm text-slate-500;
}

.update {
  @apply bg-update h-[20px] w-[20px] cursor-pointer;
}

.delete {
  @apply bg-delete h-[20px] w-[20px] cursor-pointer;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
